*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    word-wrap: break-word;
    height: 50vh;
}
.tj-box{
    position: fixed;
    bottom: 20px;
    left: 20px;
    bottom: 20px;
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}