#app3{
    border: 1px solid yellow;
}
#app3 #square{
    border: 5px solid black;
    width: 15vw;
    height: 15vw;
    margin-top: 15vw;
    transition: transform 0.5s linear;
}
#app3 #square.active{
    transform: translateX(20vw);
}


